<script>
    $(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

{% if user.is_authenticated %}
<button type="button" class="btn btn-outline-primary btn-sm"
data-container="body" data-toggle="popover" data-placement="bottom" data-html="true"
        title='
        <a class="btn btn-secondary-outline btn-sm" href="{% url 'notification:clear_all' %}"
            role="button">Очистить</a>
        <a role="button" class="btn btn-info-outline btn-sm" data-toggle="modal"
        href="{% url 'auth:profile' user.pk %}#pills-notifications" id="buttonNotice">История</a>
        '

        data-content='
<ul class="list-group list-group-flush">
{% if notice.unread.blocked %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'auth:profile' user.pk %}" class="text-decoration-none text-dark">
        <b class="text-danger">Аккаунт заблокирован!</b>
        </a>
    </li>
{% endif %}
{% for note in notice.unread.moderator %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'notification:edit_article' note.pk %}" class="text-decoration-none text-dark">
        <b class="text-danger">Отклонено модератором!</b> <br> <i>{{ note.target.title | truncatechars:30 }}</i>
        </a>
    </li>
{% endfor %}
{% for note in notice.unread.rm_article %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'notification:edit_article' note.pk %}" class="text-decoration-none text-dark">
        <b class="text-danger">Снято с публикации!</b> <br> <i>{{ note.target.title | truncatechars:30 }}</i>
        </a>
    </li>
{% endfor %}
{% for note in notice.unread.del_comment %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'notification:open_article' note.pk %}" class="text-decoration-none text-dark">
        <b class="text-danger">Комментарий удален!</b> <br> <i>{{ note.target.title | truncatechars:30 }}</i>
        </a>
    </li>
{% endfor %}
{% for note in notice.unread.publish %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'notification:open_article' note.pk %}" class="text-decoration-none text-dark">
        <b class="text-success">Статья опубликована!</b> <br> <i>{{ note.target.title | truncatechars:30 }}</i>
        </a>
    </li>
{% endfor %}
{% for note in notice.unread.restore %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'notification:edit_article' note.pk %}" class="text-decoration-none text-dark">
        <b class="text-success">Статья восстановлена!</b> <br> <i>{{ note.target.title | truncatechars:30 }}</i>
        </a>
    </li>
{% endfor %}
{% for article in notice.new_comments_articles %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'notification:open_article_many' article.pk %}" class="text-decoration-none text-dark">
        <b>Новые комментарии</b> <br> <i>{{ article.title | truncatechars:30 }}</i>
        </a>
        <span class="badge badge-primary badge-pill">{{ article.num_notices }}</span>
    </li>
{% endfor %}
{% for comment in notice.new_comments_reply %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'notification:open_article_comment_many' comment.pk %}" class="text-decoration-none text-dark">
        <b>Новые ответы на коммент</b> <br> <i>{{ comment.article.title | truncatechars:30 }}</i>
        </a>
        <span class="badge badge-primary badge-pill">{{ comment.num_notices }}</span>
    </li>
{% endfor %}
{% for article in notice.new_liked_articles %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'notification:open_article_many' article.pk %}" class="text-decoration-none text-dark">
        <b>Новые лайки :)</b> <br> <i>{{ article.title | truncatechars:30 }}</i>
        </a>
        <span class="badge badge-primary badge-pill">{{ article.num_likes }}</span>
    </li>
{% endfor %}
{% for article in notice.new_disliked_articles %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'notification:open_article_many' article.pk %}" class="text-decoration-none text-dark">
        <b>Новые дизлайки :(</b> <br> <i>{{ article.title | truncatechars:30 }}</i>
        </a>
        <span class="badge badge-primary badge-pill">{{ article.num_dislikes }}</span>
    </li>
{% endfor %}
{% for comment in notice.new_liked_comments %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'notification:open_article_comment_many' comment.pk %}" class="text-decoration-none text-dark">
        <b>Новые лайки на коммент :)</b> <br> <i>{{ comment.article.title | truncatechars:30 }}</i>
        </a>
        <span class="badge badge-primary badge-pill">{{ comment.num_likes }}</span>
    </li>
{% endfor %}
{% for comment in notice.new_disliked_comments %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a href="{% url 'notification:open_article_comment_many' comment.pk %}" class="text-decoration-none text-dark">
        <b>Новые дизлайки на коммент :(</b> <br> <i>{{ comment.article.title | truncatechars:30 }}</i>
        </a>
        <span class="badge badge-primary badge-pill">{{ comment.num_dislikes }}</span>
    </li>
{% endfor %}
</ul>
'>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
    </svg>
    <span class="badge badge-primary">{{ notice.unread_count }}</span>
</button>
{% endif %}
