<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container w-75">
        <a class="navbar-brand px-lg-3" href="/">Fibr</a>

    </div>

</nav>
<nav id="navbar_top" class="navbar-expand-md navbar-light bg-light">

    <div class="container d-flex justify-content-between w-75">
        <ul class="nav justify-content-center">

            <li class="nav-item">
                <a class="nav-link" href="/">Все потоки</a>
            </li>


            {% for topic in topic_list %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hub:topic' topic.pk %}">
                    {{ topic.name }}
                </a>
            </li>
            {% endfor %}

        </ul>

        <ul class="nav">
            <li class="nav-item">
                <div class="d-grid gap-2 d-md-block mt-1">
                    {% if user.is_authenticated %}
                        <button class="btn btn-outline-secondary btn-sm my-0 m-1" type="button" onclick="location.href='{% url 'auth:logout' %}'">
                                Выйти
                        </button>
                    {% else %}
                        <button class="btn btn-outline-secondary btn-sm my-0 m-1" type="button" onclick="location.href='{% url 'auth:login' %}'">
                                Войти
                        </button>
                    {% endif %}
                    <button class="btn btn-primary btn-sm my-0 m-1 " type="button">Регистрация</button>
                </div>
            </li>

        </ul>
    </div>

</nav>