{% extends 'hub/base.html' %}
{% load static %}

{% block content %}
    <section>
        <div class="container w-75 p-2">
            <ul class="list-group list-group-flush w-75">
                {% for article in articles %}
                    <li class="list-group-item p-4">
                        <div class="row">
                            <header class="accordion-header">
                                <a href="user" class="text-info" title="Автор публикации"
                                   style="text-decoration: none;">
                                    <img src="http://placehold.it/30X30" width="24" height="24" class="img-fluid"
                                         alt="img">
                                    <span class="text">{{ article.user }}</span>
                                </a>
                                <p class="timelist text-muted"><small> {{ article.created_at }}</small></p>

                            </header>
                            <div class="col-sm-12">

                                <a href="{% url 'article:article' article.pk %}" class="card-title text-decoration-none"
                                   style="color: #86b7fe; cursor: pointer"><h1 class="text" style="font-size: 30px;">
                                    {{ article.title }}
                                </h1></a>
                                <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> {{ article.topic }}
                                </p>
                                <div class="col-sm-4">
                                    {% if article.image %}
                                        <img src="{{ article.image.url }}" class="img-responsive" alt="img" width="750">
                                    {% endif %}
                                </div>
                                <br>
                                <p class="card-text"
                                   style="line-height: 1.70;font-size: 18px;overflow-wrap: break-word;">{{ article.content|safe|truncatewords:60 }}</p>
                                <a class="text-decoration-none" href="{% url 'article:article' article.pk %}">
                                    <button type="button" class="btn bg-light btn-outline-info"> Читать дальше →
                                    </button>
                                </a>
                                <form action="{% url 'article:like_article' article.pk %}" method="POST"
                                      style="color:DodgerBlue;">Like: {{ article.get_total_likes }}</form>
                                <form action="{% url 'article:like_article' article.pk %}" method="POST"
                                      style="color:red;">Dislike: {{ article.get_total_likes }}</form>

                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
