{% extends 'hub/base.html' %}
{% load static %}

{% block content %}
    <section>
        <div class="container w-75 p-2">
            <ul class="list-group list-group-flush w-75">
                {% for article in articles %}
                <li class="list-group-item">
                    <div class="row">
                        <header class="accordion-header">
                            <a href="user" class="text-info" title="Автор публикации" style="text-decoration: none;">
                                <img src="http://placehold.it/30X30" width="24" height="24" class="img-fluid">
                                <span class="text">GB team 2</span>
                            </a>
                            <p class="timelist"><small> {{ article.created_at }}</small></p>

                        </header>
                        <div class="col-sm-12">
                            <a href="/article/" class="card-title text-decoration-none" style="color: #86b7fe; cursor: pointer"><h1 class="text">
                                {{ article.title }}
                            </h1></a>
                            <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively
                                for Premium Members</p>
                            <p>{{ article.content }}</p>
                            <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/780X220"
                                                                            class="img-responsive"></a>
                            </div>


                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
