{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section>
        <div class="container w-75 p-2">
            <ul class="list-group list-group-flush w-75">
                <li class="list-group-item">
                    <div class="row">
                        <header class="accordion-header">
                            <a href="user" class="text-info" title="Автор публикации" style="text-decoration: none;">
                                <img src="http://placehold.it/30X30" width="24" height="24" class="img-fluid">
                                <span class="text">GB team 2</span>
                            </a>
                            <p class="timelist"><small>сегодня в 17:03</small></p>

                        </header>
                        <div class="col-sm-12">
                            <a href="/article/1" class="card-title text-decoration-none" style="color: #86b7fe; cursor: pointer"><h1 class="text"> How to Fight
                                Fraud with Artificial Intelligence and Intelligent
                                Analytics</h1></a>
                            <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively
                                for Premium Members</p>
                            <p>Could artificial intelligence have been used to prevent the high-profile Target breach?
                                The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay
                                have long relied on artificial intelligence to detect fraudulent transaction patterns
                                and prevent card.</p>
                            <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/780X220"
                                                                            class="img-responsive"></a>
                            </div>


                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <header class="accordion-header">
                            <a href="user" class="text-info" title="Автор публикации" style="text-decoration: none;">
                                <img src="http://placehold.it/30X30" width="24" height="24" class="img-fluid">
                                <span class="text">GB team 2</span>
                            </a>
                            <p class="timelist"><small>сегодня в 17:03</small></p>

                        </header>
                        <div class="col-sm-12">
                            <a class="card-title text-decoration-none" style="color: #86b7fe; cursor: pointer"><h1 class="text"> How to Fight
                                Fraud with Artificial Intelligence and Intelligent
                                Analytics</h1></a>
                            <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively
                                for Premium Members</p>
                            <p>Could artificial intelligence have been used to prevent the high-profile Target breach?
                                The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay
                                have long relied on artificial intelligence to detect fraudulent transaction patterns
                                and prevent card.</p>
                            <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/780X220"
                                                                            class="img-responsive"></a>
                            </div>


                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
